{% extends "logistics/base.html" %} {% load static %} {% block content %}
<section id="content">
  <!-- .breadcumb-area start -->
  <div class="breadcumb-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcumb-wrap text-center">
            <h2>Our Pricing</h2>
            <ul>
              <li><a href="index-2.html">Home</a></li>
              <li><span>Our Pricing</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .breadcumb-area end -->
  <!-- pice-area start -->
  <div class="pricing-area pricing-area-2">
    <div class="container">
      <div class="section-title text-center">
        <span>We Give You The Best</span>
        <h2>Our Pricing Plan</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-l2 col-md-6 col-sm-6">
              <div class="price-item">
                <div class="pricing-header">
                  <h3>Free</h3>
                  <span>Per Mile</span>
                </div>
                <div class="pricing-table">
                  <div class="price-sub-header">
                    <h4>$120</h4>
                  </div>
                  <ul>
                    <li>3000 kg load</li>
                    <li>125 kg / pallet</li>
                    <li>24/7 support</li>
                    <li>Free Packaging</li>
                    <li>Warehousing</li>
                  </ul>
                  <div class="pricing-footer">
                    <div class="btns">
                      <div class="btn-style btn-style-4">
                        <a href="#">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-l2 col-md-6 col-sm-6">
              <div class="price-item">
                <div class="pricing-header">
                  <h3>Basaic</h3>
                  <span>Per Mile</span>
                </div>
                <div class="pricing-table">
                  <div class="price-sub-header">
                    <h4>$250</h4>
                  </div>
                  <ul>
                    <li>3000 kg load</li>
                    <li>125 kg / pallet</li>
                    <li>24/7 support</li>
                    <li>Free Packaging</li>
                    <li>Warehousing</li>
                  </ul>
                  <div class="pricing-footer">
                    <div class="btns">
                      <div class="btn-style btn-style-4">
                        <a href="#">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-l2 col-md-6 col-sm-6">
              <div class="price-item">
                <div class="pricing-header">
                  <h3>Premium</h3>
                  <span>Per Mile</span>
                </div>
                <div class="pricing-table">
                  <div class="price-sub-header">
                    <h4>$250</h4>
                  </div>
                  <ul>
                    <li>3000 kg load</li>
                    <li>125 kg / pallet</li>
                    <li>24/7 support</li>
                    <li>Free Packaging</li>
                    <li>Warehousing</li>
                  </ul>
                  <div class="pricing-footer">
                    <div class="btns">
                      <div class="btn-style btn-style-4">
                        <a href="#">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-l2 col-md-6 col-sm-6">
              <div class="price-item">
                <div class="pricing-header">
                  <h3>Standard</h3>
                  <span>Per Mile</span>
                </div>
                <div class="pricing-table">
                  <div class="price-sub-header">
                    <h4>$250</h4>
                  </div>
                  <ul>
                    <li>3000 kg load</li>
                    <li>125 kg / pallet</li>
                    <li>24/7 support</li>
                    <li>Free Packaging</li>
                    <li>Warehousing</li>
                  </ul>
                  <div class="pricing-footer">
                    <div class="btns">
                      <div class="btn-style btn-style-4">
                        <a href="#">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pice-area end -->
  <!-- start track-section -->
  <section class="newsletter-section newsletter-section-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Subscribe Our Newsletter</h2>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
          </p>
        </div>
        <div class="col-lg-8">
          <div class="newsletter">
            <div class="newsletter-form">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <form>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                    />
                  </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <form>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tracking Number"
                    />
                  </form>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <button type="submit">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end track-section -->

  
  {% endblock %}
</section>
